.rhythm__viewer {
  display: block;
  margin: 1rem 0;

  border-radius: 0.25rem;
}

.rhythm__viewer .measures {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rhythm__viewer .measure__viewer {
  margin: 0 0 1rem 0;

  width: 64rem;
}

.rhythm__viewer__toolbar {
  margin: 1rem 0;
}
