.tuner .notes {
  margin: 2rem 0;
}

.tuner .instruments {
  margin: 1rem 0;

  text-align: center;
}

.tuner .input {
  text-align: center;
}

.tuner .input .note__name {
  margin: 1rem 0;

  font-size: 5rem;
}
